<ion-view cache-view="false">

  <ion-nav-title>
    <div class="bar bar-header bar-light">
      <div class="title" id="logo">
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="pele-background" scroll="false">
    <div class="pele-page-title pele-img-size pele-page-title-font">
      <a class="description">{{TITLE_FORGOT_PASSWORD}}</a>
    </div>

    <div class="row">
      <div class="col col-center">
        <div class="card login-container">
          <form name="login_form" class="" novalidate>
            <div class="item item-body">

              <label class="item item-input">
                <input type="text" placeholder="Phone number" name="user_phone" ng-model="user.phone" required>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <!-- <button type="submit" class="button button-positive button-block" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid"> -->
              <button type="submit" class="button button-positive button-block" ng-click="recoverPassword()">
                {{TITLE_OTP_REQUEST}}
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-clear button-light" ui-sref="app.login">
            {{TITLE_SEND_OTP_LINK}}
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
