<ion-view cache-view="false" hide-back-button="false">

  <ion-nav-title>
    <div class="bar bar-header bar-light">
      <div class="title" id="logo">  <h4 class=" white">התחברות עם משתמש וסיסמה </h4>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="pele-background" scroll="false">
    <div class="text-center">
    
    </div>
    
    <div class="row">
      <div class="col col-center">
        <div class="card login-container">
          <form name="" class="" novalidate>
              <div class="list">
              <label class="item item-input">
                <span class="input-label strong">שם משתמש</span>
                <input type="text" class="pele_ltr" placeholder="" name="username" ng-model="user.username" required>
              </label>
              <label class="item item-input">
                <span class="input-label strong">סיסמה</span>
                <input type="password"   class="pele_ltr" placeholder="" name="password" ng-model="user.password" required>
              </label>
              <label class="item ">
                  <p>* שם משתמש וסיסמה של כניסה למחשב</p>
                </label>
                <div class="item">
                    <button type="submit" class="button button-positive button-block" ng-click="doLogIn()">התחברות  </button>
                  </div>
                  <div class="item text-center error">
                   {{error}}
                  </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
