<ion-view cache-view="true" hide-back-button="true" ng-show="doRender">

  <ion-nav-title>
    <div class="bar bar-header bar-light">
      <div class="title" id="logo">  <h4 class=" white">{{title}} </h4>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="pele-background" scroll="false">
 
    <div class="row" ng-show="activeForm && !hideAllforms">
      <div class="col col-center">
        <div class="card login-container">
          <form name="" class="" novalidate>
              <div class="list">
                  <label class="item item-text-wrap text-center item-input" ng-if="authMethod=='faceid'">
                    <strong>
                    שימו לב - בסיום ההתחברות תועבר להזדהות הביומטרית באמצעות זיהוי פנים
                    </strong>
                    </label>
                    <label class="item item-text-wrap text-center item-input" ng-if="authMethod=='fingerprint'">
                      <strong>
                        שימו לב - בסיום ההתחברות תועבר להזדהות הביומטרית באמצעות טביעת אצבע
                      </strong>
                    </label>
                    <label class="item item-text-wrap text-center item-input" ng-if="authMethod=='bio'">
                        <strong>
                          שימו לב - בסיום ההתחברות תועבר חד פעמי להזדהות הביומטרית 
                        </strong>
                      </label>
              <label class="item item-input">
                <span class="input-label strong">שם משתמש</span>
                <input type="text" class="pele_ltr" placeholder="" name="username" ng-model="user.username" required>
              </label>
              <label class="item item-input">
                <span class="input-label strong">סיסמה</span>
                <input type="password"   class="pele_ltr" placeholder="" name="password" ng-model="user.password" required>
              </label>
              <label class="item ">
                  <p>* שם משתמש וסיסמה של כניסה למחשב</p>
                </label>
                <div class="item">
                    <button type="submit" class="button button-positive button-block" ng-click="doLogIn()">התחברות  </button>
                  </div>
                  <div class="item item-text-wrap text-center error" style="color:red">
                   {{error}}
                  </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
    <div  id="auth-methods" ng-show="!activeForm && !hideAllforms" class="card pele_rtl" style="border:2px solid #CCC;border-radius:5px">
        <div class="item item-text-wrap pele_ltr">
            <!--button ng-click="closeModal()" class="button-icon ion-close"></button-->
            <h2 class="text-center"><strong>יש לבחור שיטת זיהוי</strong></h2>             
            <div class="item no-border">
              <button ng-click="setAuthMethod('pincode')" class="text-right button-block button-clear button-dark">
                  <span class="">SMS סיסמא חד פעמית ב</span>
                  <img class="icon-md" src="img/new_icons/pincode.png"></button>
            </div>
            <div class="item text-center pele_rtl" ng-show="!bioCap">
              <strong> במידה ומכשירך תומך בזיהוי ביומטרי, ניתן להפעיל את הפונקציונליות במכשיר על מנת לאפשר מימוש זיהוי ביומטרי באפליקציה.</strong>
            </div>
            <div class="item" ng-show="bioCap=='finger'">
            <button ng-click="setAuthMethod('fingerprint')" class="text-right button-block button-clear button-dark" >
<span>                טביעת אצבע</span>
              <img class="icon-md" src="img/new_icons/fingerprint.png"> </button>
          </div>
          <div class="item" ng-show="bioCap=='bio'">
              <button ng-click="setAuthMethod('bio')" class="text-right button-block button-clear button-dark" >
          <span>זיהוי ברומטרי</span>
                <img class="icon-md" src="img/new_icons/fingerprint.png"> </button>
            </div>            
          <div class="item" ng-show="bioCap=='face'">
            <button ng-click="setAuthMethod('faceid')" class="text-right button-block button-clear button-positive">
              <span>זיהוי פנים</span>
                <img class="icon-md" src="img/new_icons/faceid.png"></button>
          </div>
          <div ng-if="0" class="item">
              <button ng-click="setAuthMethod(null)" class="text-right button-block button-clear button-dark">
                  <span class=""> ללא זיהוי מקוצר</span>
                  <img class="icon-md" src="img/new_icons/login_form.png"></button>
            </div>
        </div>
      </div>
      
  </ion-content>
  <script type="text/ng-template" id="authMethods.html">
    <ion-content  id="auth-modal" padding="true" style="margin:60px 25px 25px 25px" ng-show="doRender">
     </ion-content>
  </script>
</ion-view>
