<ion-view cache-view="false">

    <ion-nav-title>
        <div class="bar bar-header bar-positive">
            <div class="title">{{title}}</div>
        </div>
    </ion-nav-title>

    <ion-content scroll="false">
        <tab-slide-box tab="2">
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll has-bouncing="false" scrollX="false" direction="x" scrollY="false" class="tsb-hscroll">
                        <a class="triangle-isosceles {{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">
                            {{tab.text}}
                        </a>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">

                <!-- Approve List Slide -->                
                <ion-slide on-drag-left="enable('drag')" on-drag-right="disable('drag')">
                    <ion-scroll scrollX="false" style="height:80%" delegate-handle="slide1Scroll">
                        <div class="list">
                            <div ng-repeat="action in docDetails.ACTION_HISTORY" class="pele_rtl">
                                <div ng-click="action.left_icon && toggleActionItem(action)" class="item item-divider item-icon-left item-icon-right text-right action-history-item">
                                    <i class="icon pel_icon icon-sm" ng-class="action.left_icon"></i> {{action.APPROVAL_SEQ}}. {{action.USER_NAME}}
                                    <small class="string-badge" ng-show="action.ACTION" style="direction: ltr;">{{action.ACTION}}</small>
                                    <i class="icon pel_icon icon-sm" ng-class="action.right_icon"></i>
                                </div>
                                <div class="item bo-border pele_rtl text-right item-icon-left item-icon-right text-right" ng-show="action.display">
                                    <div class="row">
                                        <div class="col">פעולה:</div>
                                        <div class="col col-75">{{action.ACTION}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">תאריך:</div>
                                        <div class="col col-75">{{action.ACTION_DATE | date : 'dd-MM-yyyy hh:ss'}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">הערות:</div>
                                        <div class="col col-75 pele-item item-text-wrap">{{action.NOTE}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>

                <!-- Detals List Slide -->
                <ion-slide on-drag-right="enable('drag')" on-drag-left="disable('drag')">
                    <ion-scroll class="pele_rtl text-right" scrollX="false" style="height:80%" delegate-handle="slide1Scroll">

                        <ul class="list">

                            <li class="item item-info no-border">
                                <div class="item item-divider item-icon-right item-icon-left" ng-init="info_elm=true" ng-click="info_elm=!info_elm">
                                    <i class="pel_icon icon icon-sm" ng-class="info_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                                    <i class="icon pel_icon icon-md ion-clipboard"></i>
                                    <h2 class="text-right pele_rtl">תיאור הזמנה</h2>
                                </div>
                                <div class="item-section pele_rtl item-text-wrap" ng-show="info_elm">
                                    {{docDetails.COMMENTS}}
                                </div>
                            </li>

                            <li class="item item-info no-border">
                                <div class="item item-divider item-icon-right item-icon-left" ng-init="details_elm=true" ng-click="details_elm=!details_elm">
                                    <i class="icon pel_icon icon-sm" ng-class="details_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                                    <h2 class="text-right pele_rtl">פרטי הזמנה</h2>
                                    <i class="icon pel_icon icon-md ion-clipboard"></i>
                                </div>
                                <div class="item-section" ng-show="details_elm">
                                    <table class="pele_rtl text-right">
                                        <tbody>
                                            <tr>
                                                <td class="label ">סה"כ: </td>
                                                <td class="info"> {{docDetails.PO_AMOUNT}} {{docDetails.CURRENCY}}</td>
                                            </tr>
                                            <tr>
                                                <td class="label">ספק: </td>
                                                <td class="info"> {{docDetails.VENDOR_NAME}}</td>
                                            </tr>
                                            <tr>
                                                <td class="label">תאריך יצירה: </td>
                                                <td class="info"> {{docDetails.SUBMIT_DATE}}</td>
                                            </tr>
                                            <tr>
                                                <td class="label">קניין: </td>
                                                <td class="info"> {{docDetails.BUYER_NAME}}</td>
                                            </tr>
                                            <tr>
                                                <td class="label">סמנכ"ל דורש: </td>
                                                <td class="info pele_rtl"> {{docDetails.MANAGER_NAME}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>

                            <li class="item item-info no-border">
                                <div class="item item-divider item-icon-right item-icon-left" ng-init="extra_elm=false" ng-click="extra_elm=!extra_elm">
                                    <i class="icon pel_icon  icon-sm" ng-class="extra_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                                    <h2 class="text-right pele_rtl">הסבר כללי</h2>
                                    <i class="icon pel_icon icon-md ion-clipboard"></i>
                                </div>

                                <div class="item-section pele_rtl item-text-wrap" ng-show="extra_elm">
                                    {{docDetails.PO_EXPLAIN}}
                                </div>
                            </li>

                            <li class="item item-info no-border">
                                <div class="item item-divider item-icon-right item-icon-left" ng-init="reason_elm=false" ng-click="reason_elm=!reason_elm">
                                    <i class="icon pel_icon  icon-sm" ng-class="reason_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                                    <h2 class="text-right pele_rtl">נימוק לבחירת ספק</h2>
                                    <i class="icon pel_icon icon-md ion-clipboard"></i>
                                </div>

                                <div class="item-section pele_rtl item-text-wrap" ng-show="reason_elm">
                                    {{docDetails.SUPPLIER_REASON}}
                                </div>
                            </li>

                            <li class="item item-info no-border">
                                <div class="item item-divider item-icon-right item-icon-left" ng-init="prices_elm=false" ng-click="prices_elm=!prices_elm">
                                    <i class="icon pel_icon  icon-sm" ng-class="prices_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                                    <h2 class="text-right pele_rtl">השוואת מחירים</h2>
                                    <i class="icon pel_icon icon-md ion-calculator"></i>
                                </div>
                                <div class="item-section pele_rtl item-text-wrap" ng-show="prices_elm">
                                    <div ng-show="matchPrice.length==0">
                                        לא קיים מידע רלוונטי
                                    </div>
                                </div>
                                <div ng-repeat="matchPriceRow in matchPrice" ng-show="prices_elm">
                                    <div class="card">
                                        <div class="item item-divider text-right pele_rtl">
                                            שם ספק :{{matchPriceRow.VENDOR_NAME}}
                                        </div>
                                        <div class="row ">
                                            <div class="item item-text-wrap text-right pele_rtl">
                                                מחיר ראשוני: {{matchPriceRow.UNIT_PRICE}}
                                            </div>
                                            <div class="item item-text-wrap text-right pele_rtl">
                                                מחיר סופי: {{matchPriceRow.TOTAL_PRICE}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </li>
                            
                            <!-- Attachment Files -->
                            <li class="item item-info no-border">
                                <div class="item item-divider item-icon-right item-icon-left" ng-init="attach_elm=true" ng-click="attach_elm=!attach_elm">
                                    <i class="icon pel_icon icon-sm" ng-class="attach_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                                    <h2 class="text-right pele_rtl">נספחי הזמנה</h2>
                                    <i class="icon pel_icon icon-md ion-paperclip"></i>
                                </div>
                                <div class="item-section" ng-show="displayable && !displayable.length">
                                    לא קיימים מסמכים מצורפים
                                </div>
                                <div class="item-section" ng-show="attach_elm && displayable.length">
                                    <table class="pele_rtl attachments-table text-right">
                                        <tbody>
                                            <tr class="pele_rtl" ng-repeat="file in attachedDocuments | filter:{ DISPLAY: 'Y' } as displayable">                                                
                                                <td class="info pele_ltr">                                        
                                                    <span ng-click="openAttachment(file)" ng-class="'show_content_'+file.SHOW_CONTENT"> {{file.DISPLAY_NAME}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>

                        </ul>

                    </ion-scroll>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>