<ion-view cache-view="false">
  <ion-nav-title>
    <div class="bar bar-header bar-positive">
      <div class="title">{{title}}
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="pele-background" onload="doRefresh()">
    <ion-refresher pulling-text="משוך לרענון..." on-refresh="doRefresh()">
    </ion-refresher>
    <label class="item item-input item-search">
      <input type="search" class="search-area" style="color:#fafafa;" placeholder="חיפוש" ng-model="searchText">
      <a class="search-icon" ></a>
    </label>
    <ion-list>
      <div class="docs-menu" ng-repeat="docsGroup in docsGroups">
        <ion-item class="item-stable" ng-click="toggleActive(docsGroup)" ng-class="{active: activeGroup == docsGroup.DOC_NAME}">
          <div class="row">
            <div class="col ellipsis">
              <ion-icon ng-class="activeGroup == docsGroup.DOC_NAME ? 'ion-arrow-left-b' : 'ion-arrow-down-b'"></ion-icon>
              {{docsGroup.DOC_NAME}}
            </div>
            <div class="col col-10"><span class="pel-badge light-blue">{{filtered.length}}</span> </div>
          </div>
        </ion-item>
        <ion-item class="docs-menu-details item-icon-left pele_rtl" ng-repeat="item in docsGroup.DOCUMENTS.DOCUMENTS_ROW | filter:searchText as filtered" ng-show="activeGroup == docsGroup.DOC_NAME" ng-click="forwardToDoc(docsGroup.DOC_ID, item.DOC_INIT_ID,item.TASK.NOTIFICATION_ID)">
          <img class="icon doc-redirect" ng-src="img/DocApprove/document_redirect.png">
          <div class=""> <span ng-show="item.TASK.ADD_TITLE" class="string-badge">{{item.TASK.ADD_TITLE}} </span> משימה {{item.TASK.TASK_NUMBER}}</div>
          <div class="ellipsis ellipsis_90"><strong>{{item.TASK.BAN_NAME}}</strong></div>
          <div>סיום משוער לטיפול בלקוח
            <span class="peldate">{{item.TASK.PLANNED_END_DATE|peldate | date : 'hh:ss dd-MM-yyyy'}}</span> </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
